body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
}
*{
    user-select:none;
   
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#box{
    overflow:hidden;
    margin-left:100px;
    margin-top:40px;
    border:1px solid white;
    border-radius:20px;
    position: absolute;
    width: 700px;
    height: 530px;
    top:70px;
    left:0px;
    box-shadow:0 0 6px 6px rgba(255, 255, 255, 0.7);
}
.header-section{
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    left:0px;
    top:0px;
    position:absolute;
    height:60px;
    width:100%;
    color:rgb(255, 255, 255);
    font-size:32px;
    padding-left:100px;
    padding-top:10px;
    text-align:center;
    text-transform: uppercase;
    font-weight:bold;
    font-family: "Roboto", serif;
    letter-spacing:1px;
    

}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* table styyling */
tbody tr {
    transition: background-color 0.3s ease;
}

tbody tr.new {
    background-color: #e0ffe0;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}